.menu{
	background-color: grey;
	width: 70%;
	height: 20px;
	margin-right: 100px;
	margin-left: 200px;
	border-radius: 10px;
	padding: 10px;
}
.menu a{
	text-decoration: none;
	background-color: orange;
	padding: 5px;
	border-radius: 10px;
	margin-right: 100px;
	margin-left: 130px;
}

.headings{
	height: 70px;
	background-color: violet;
	border-radius: 20px;
	margin-right: 400px;
	margin-left: 400px;
	font-size: 25px;
	text-align: center;
	color: grey;
}
a:hover{
	color: red;
	background-color: green;
}
